<h1><%= @word.word() %></h1>

<% @word.display_definitions().each() do |definition| %>
  <li><%= definition.definition() %></li>
<% end %>

<form action="/new_definition" method="post">
  <input id="word_id" type="hidden" name="word_id" value='<%= @word.id() %>'>

  <label for="definition">Definition</label>
  <input type="text" name="definition" id="definition"><br>

  <button type="submit" class="btn btn-primary">Add Definition</button>

</form>

<a href="/">Back to Word List</a>
